/* Global styles */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Quicksand", sans-serif;
    --primary-color: #44471E; /* dark moss green */
    --secondary-color: #D0D585; /* citron */
    --tertiary-color: #F9EDDD; /* antique white */
   
}

body {
    font-family: var(--primary-font);  
    color: var(--primary-color);
    background-color: var(--secondary-color);   
    font-size: 1.2rem;
    padding-top: 75px; /* Pushes top of the header down under the fixed navbar */
}

/* Logo styling */
.navbar-logo {
    width: 50px;
    height: 50px;
}
/* Navbar styling */
.navbar {
    background-color: var(--tertiary-color);
    
}

.nav-link{    
    color:var(--primary-color);
    
}

.nav-link:hover{    
    text-decoration: underline;   
}


/* Hero Section */

#hero {
    background-color: var(--tertiary-color);
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('../images/Nature-scene.png');
    background-position: 50% 60%;
    min-height: 400px;
    background-size: cover;
    padding: 5% 7%;  
}

.hero-title {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-subtitle {
    font-size: 1.25rem;
    color: white;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/* Carousel Styles */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--highlight-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Footer Styles */
.footer {
    background-color: var(--tertiary-color);
}

.footer-text {
    color: var(--primary-color);
    
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    text-decoration: none;
    
}